<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section class="banner1 d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1 class="font-weight-bold">JOB SEARCH PORTAL</h1>
			<p>It's time for a new job</p>
			
			<button class="btn btn-primary btn-lg text-white">Find Job</button>
		
		</div>
	</section>
	
</body>
</html>